





























































/* .header_container {
    width: calc(100% - 200px);
}

.offcanvas-header {
    justify-content: between !important;
}

.logo {
    height: 2.5rem;
    width: 8rem;
    border-radius: nullpx;

}

.header_opt_li {
    margin: 0 20px;
    height: 100%;
    font-size: 20px;


}

.fs-20 {
    font-size: 20px;
}

.header_opt_li:hover {
    background-color: blue;
    color: white;
    cursor: pointer;
}
.header_opt_li {
    margin: 0 0;
}



@media only screen and (max-width: 760px) {
    .logo {
        height: 1.8rem;
        width: 6rem;
        border-radius: nullpx;

    }

    .header_container {
        width: calc(100% - 20px);

    }

   
    
}



@media only screen and (max-width: 1100px) {
    .logo {
        height: 1.8rem;
        width: 6rem;
        border-radius: nullpx;
    }

    .header_container {
        width: calc(100% - 20px);

    }
} */